/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #headerwrap{
        margin-top: 55px;
        padding-top: 60px;
        min-height: 300px;

    }
   #headerwrap h1 {
        font-size: 40px;
    }
    #headerwrap h3 {
        font-size: 25px;
}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #headerwrap{
        margin-top: 55px;
        padding-top: 60px;
        min-height: 300px;

    }
   #headerwrap h1 {
        font-size: 40px;
    }
    #headerwrap h3 {
        font-size: 25px;
}
}